.contact {
  text-align: center;
  background: linear-gradient(90deg, white 50%, #673ab7 50%);
}

.contactLeft {
  width: 50vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.contactRight {
  width: 50vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.contactText {
  font-size: 3.75rem;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
}

.contactLine {
  margin: auto;
  background: white;
  width: 44vh;
  height: 4px;
}

.contactSocialLink {
  display: flex;
  justify-content: center;
}

.contactLink {
  margin: 10px;
  padding: 10px;
  border-radius: 100%;
  border: 3px solid #6849b7;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact {
    display: block;
  }
  .contactLeft {
    width: 100vw;
    height: 50vh;
    background: #673ab7;
  }
  .contactRight {
    width: 100vw;
    height: 50vh;
    background: white;
  }
}
