.contact {
  text-align: center;
}

.contactLeft {
  width: 50vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background: #fff;
}

.contactRight {
  width: 50vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background: #673ab7;
}

.contactText {
  font-size: 3.75rem;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
}

.contactLine {
  margin: auto;
  background: white;
  width: 44vh;
  height: 4px;
}

.contactSocialLink {
  display: flex;
  justify-content: center;
}

.contactLink {
  margin: 10px;
  padding: 10px;
  border-radius: 100%;
  border: 3px solid #6849b7;
  cursor: pointer;
}

.contactMobileRight {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact {
    justify-content: space-between;
    text-align: center;
    background: #673ab7;
    width: 100%;
  }

  .contactLeft {
    width: 100vw;
    height: 100vh;
    display: contents;
    vertical-align: middle;
    position: relative;
    background: #673ab7;
  }

  .contactRight {
    width: 100vw;
    height: 100vh;
    display: contents;
    vertical-align: middle;
    position: relative;
    background: #673ab7;
  }

  .contactMobileRight {
    width: 50vw;
    height: 100vh;
    display: contents;
    vertical-align: middle;
    position: relative;
    order: 2;
  }

  .contactText {
    display: none;
    font-size: 1.75rem;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 0;
  }

  .contactLine {
    margin: auto;
    background: white;
    width: 44vh;
    height: 4px;
    display: none;
  }

  .contactSocialLink {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
  }

  .contactLink {
    margin: 7px;
    padding: 8px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .contactRightText {
    display: block;
    font-size: 1.75rem;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 0;
  }

  .contactIcon {
    color: white;
  }
}
